body {
    text-align: center;
}
.userInput {
    display: inline-block;
    border: 3px Aqua groove;  
    padding: 30px;
}
input {
    border: 3px black solid;
}

#submit {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
    background-color: #ebebeb;
    
}
/*
.strike {
    text-decoration: line-through;
}
*/


input[type=checkbox]:checked + label.check{
  text-decoration: line-through;
}
