.thumbnail img {
    display: inline-block;
    height: 200px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}
img {
    display: inline-block;
    width: 300px;
    height: 200px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      max-width: 70%;
      margin: auto;
      height: 200px;
  }
body {
    background-size: auto;
    background-repeat: round;
}
.jumbotron {
    height: 300px;
}
.logo {
    
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    padding-top: 350px;
    background-color: black;
}
.welcome {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: -37px;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    }
#contact {
    text-align: center;
    font-size: 24px;
}
#contactHead {
    font-size: 40px;
    background-color: firebrick;
    color: white;
}