#brand {
    height: 100px;
}
.heading {
    color: white;
    font-size: 30px;
    text-align: bottom;
}
.title {
    
}
.pics {
    height: 120px;
    padding: 10px;
    
}
.hold {
    margin: 10px;
    border: solid red 1px;
}