<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1" ng-controller="homeController">
        <h1 class="header">Get your Favorite Lyrics!</h1>
        <div class="artistInfo">
        <input class="input" type="text" placeholder="Enter Artist Name" ng-model="artist">
        <input class="input" type="text" placeholder="Enter Artist Song" ng-model="track">
        <button class="btn btn-primary getLyricBtn" ng-click="submit(artist, track)">Get Lyrics</button>
        </div>
    </div>
</div>