.sideHead {
    text-align: center;
    color: black;
    font-family: bebasFont, sans-serif;
    font-size: 21px;
    margin-top: -15px;
}
.sideHead span {
    background-color: #fff;
    padding: 0 5px;
    letter-spacing: .1em;
    font-family: bebasFontLight;
}
#sidebar {
    margin-top: 100px;
    padding-left: 20px;
}
.search {
    font-style: italic;
    position: relative;
}

.glyphicon {
    position: absolute;
    right: 5%;
    top: 10px;
}
#allNav {
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}

div.container-fluid {
    margin-top: 10px;
}
.dropdown-menu:hover {
    display: block;
}
.gradient {
    background-color: rgba(252, 202, 178, 0.56);
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.widget {
    border: 1px solid #e0e0e0;
    margin-bottom: 54px;
}
.input-group {
    text-align: center;
    margin: auto;
}
li a{
    color: black;
    margin-right: 60px;
}
.envelope {
    content: url(img/envelope.png);
    height: 18px;
}
.emailBtn {
    background: white;
    border: none;
    height: 34px;
}
.fa:hover {
    color: rgb(252, 202, 178);
}
.emailform {
    border: none;
    text-decoration: none;
    box-shadow: none;
}
::-webkit-input-placeholder {
    color: #545454 !important;
}
.social li{
    display: block;
}
.socialImg {
    height: 10px;
}
.social {
    display: flex;
    text-align: center;
    padding-left: 0;
}
.headArticle {
    text-align: center;
    text-transform: uppercase;
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    color: #999999;
    display: block;
}
.headArticle:after {
    margin-left: 10px;
}
.headArticle:before {
    margin-right: 10px;
}
.share i {
    font-size: 30px;
    color: #f3c3ac;
    letter-spacing: 1em;
}
.headArticle:before, .headArticle:after {
    border-bottom: 1px solid #ddd;
    line-height: 18px;
    vertical-align: middle;
    width: 15%;
    content: " ";
    display: inline-block;
    max-width: 80px;
    box-sizing: border-box;
    
}
.headArticle {
    font-size: 12px;
    color: #545454;
}
.titleArticle {
    font-style: normal; 
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}
@font-face {
    font-family: bebasFont;
    src: url(fonts/bebasneus.woff);
}
@font-face {
    font-family: bebasFontLight;
    src: url(fonts/BebasNeueLight.otf);
}
.titleArticle a {
    color: black;
    font-family: bebasFont;
    letter-spacing: .2em;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
}
.titleArticle {
    margin: 24px 0 19px;
}
#main-content {
    padding-top: 60px;
    padding: 40px;
}
.categories {
    text-align: center;
}
.categories a {
    text-decoration: none;
    color: #999;
    font-style: italic;
    font-weight: 200;
    font-family: "avenir";
}
.post-body img {
    max-width: 100%;
}
.more-link {
    margin: 32px auto 0;
    width: 106px;
    display: block;
    border: 1px solid #ccc;
    color: #ccc;
    background-color: transparent;
    text-align: center;
    font-family: bebasFont, sans-serif;
    font-size: 17px;
    margin: 32px auto 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 106px;
    font-style: normal;
    transition: background-color .2s;
}
.more-link:hover {
    background-color: #ccc;
    color: white;
    text-decoration: none;
}
.post {
    font-weight: 400;
    color: #545454;
    line-height: 20px;
    font-family: "avenir", sans-serif;
    padding-bottom: 10px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
@media (min-width: 768px)
    .col-sm-8 {
 width: 66.6666667%   
}
