.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.img-carousel {
    height: 230px !important;
    margin: auto !important;
}
.item {
    background-color: #000 !important;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
.missy {
    float: left !important;
    height: 100px;
    width: 25%;
    margin-bottom: 120px;
    margin-right: 0 !important;

}
.selina {
    float: left !important;
    height: 100px;
    width: 33%;
    margin-left: -30px;
}
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}