.both {
    width: 100px;
    height: 50px;
}
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.row {
    text-align: center;
}

.allscores {
    display: inline-flex;
}
.scoreBox {
    display: block;
    margin: 30px;
    color: antiquewhite;
}
.score {
    color: #000;
}