<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Favorte Rappers</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="mainCtrl">
   <div class="textBox">
       <h1 class="title">Who Are Your Favorite Rappers?</h1>
    <input type="text" placeholder="Rapper" ng-model="rapperInput">
    <input type="url" placeholder="Img URl" ng-model="imgUrl">
    <button ng-click="submit()">Add</button>
    <button ng-click="remove()">Remove</button>
    </div>
    
    <div class="favRappers" ng-repeat="rapper in rappers">
        <h3>{{rapper.rapName}}</h3>
        <img ng-src="{{rapper.rapImage}}">
    </div>
    <div class="side" ng-repeat="rapper in rappers">
        <ul>
            <li>{{rapper.rapName}}</li>
        </ul>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="app.js"></script>
    <script src="services/services.js"></script>
</body>
</html>