body {
    color: #fff;
}
.container {
    background-image:url("./img/alex-holyoake-94612.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.social {
    height: 30px;
}
.mobile-view {
    display: none;
}
nav.desktop-view ul {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.hamburger {
    height: 30px;
    font-size: 30px;
}
.banner {
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding-top: 200px;
}

@media screen and (max-width: 875px){
    nav.desktop-view {
        display: none;
    }
}
@media screen and (max-width: 875px){
    nav.mobile-view {
        display: block;
        padding: 10px;
    
    }
    .social {
        float: right;
        padding-right: 5px;
    }
}